.box {
  border: 3px solid black;
  padding: 5px
}

h2 {
  border-bottom: 1px dotted black;
}
#instructions{
  padding-top: 5px;
}
#options {
  min-height: 50px;
}

#oHowTo {
  border-bottom: 1px dotted black;

}


#reset {
  float: right;
}


#printArea {
  min-height: 300px;
}

#pTest {
  border-bottom: 1px dotted black;
}

ul {
  padding-inline-start: 0px;
  list-style: none;
}

li {

  display: inline;
  padding: 5px 0px 0px 0px;
}